*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #282c34;
}

.calc-grid {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: repeat(minmax(7rem, auto) repeat(5, 6rem));
}

.width-two {
  grid-column: span 2;
}

.output {
  grid-column: 1/-1;
  background-color: lightcoral;
}
